<div class="d-flex align-items-center justify-content-center">
  <div> 
    <h1> Welcome to my rails APP</h1>
 </div>
  <% if (Current.user) %>
    <div> <%= Current.user.email %> </div>
  <% end %>
</div>